.logo {
    width: 60px;
    height: 60px;
    border-radius: 20%;
}
.container {
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
    height: 100%;
}

.imagem-blog {
    margin: 5px 40px;
    max-width: 100%;
    width: 800px;
    height: 500px;
    border-radius: 20px; /* Arredonda as bordas */
    overflow: hidden;
}

body{
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
    padding: 4px 40px 0px 40px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: rgb(39, 38, 38);
}


main{
    padding: 5px 40 px;
    margin-top: 20px;

}
h2{
    color:#672ad1;
}
.sumario{
    
    background:#672ad1;
    color:azure;
    padding: 5px 40px;
    border-radius:25px;
    transition: color 0.3s ease; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.sumario:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra para dar destaque */
}
a{
    color: azure;
}
a:hover{
    color:rgb(54, 34, 53);
}

footer{
    padding: 0;
    color:azure;
    background-color: #672ad1;
    text-align: center;
    margin-top: 5%;
}
